
{% extends "base_auth.html.twig" %}
{% block title %}
	<div class="overlay">
	    <header>
	        <!--logo-->
			<a href="profile.php" style="color:white;">
	        <div style="width: 180px; height: 180px; position: relative; border-radius: 30px;">
	          <div class="blob" style="left: 95.57px; top: 85.65px;"></div><!-- milieu-->
	          <div class="blob" style="left: 95.55px; top: 122.36px;"></div><!-- en bas-->
	          <div class="blob" style="left: 127.98px; top: 85.65px;"></div><!-- a droite -->
	          <div class="blob" style="left: 95.57px; top: 48.45px;"></div><!-- en haut-->
	          <div class="blob" style="left: 62.90px; top: 84.62px;"></div><!-- a gauche -->
	          <div class="blob" style="left: 112.11px; top: 67.39px;"></div><!-- en haut, a droite-->
	          <div class="blob" style="left: 78.65px; top: 66.33px;"></div><!-- en haut, a gauche-->
	          <div class="blob" style="left: 112.11px; top: 104.59px;"></div><!-- en bas, a droite-->
	          <div class="blob" style="left: 78.65px; top: 104.59px;"></div><!-- en bas, a gauche-->
	          <h class="vertical-center" style="left: 167px">ACCORD<br>ENERGIE</h>
	          <div class="vertical-center separation"></div>
	          <h class="vertical-center" style="left: 350px; color: lightgrey; font-size: 48px; font-family: Jost; font-weight: 500;">Interventions</h>
	        </div>
			</a>
	    </header><br><br><br><br>
	    <div class="overlayInter" style="margin: 20px; padding: 20px;">
            <form method="POST" action="modifier.php?idi={{ idi }}">
	    	<section class="row" style="margin: 15px;">
	    		<div class="blockInter2">
	    			<div class="interEtiquette">
	    				<p class="texte" style="left: 40px; top: 10px;">Email:<br>
							<input type="email" id="email" name="email" required value="{{info_base_inter.EMAIL}}">
						</p>
	    				<div class="ligne" style="left: 290px; top: 10px;"></div>
	    				<p class="texte" style="left: 311px; top: 10px;">Intervenants:<br>
							<textarea id="detail" name="intervenant">{% for intervenant in intervenants %}{{ intervenant.EMAIL }} {% endfor %}
                            </textarea>
						</p>
	    				<div class="ligne" style="left: 612px; top: 10px;"></div>
	    				<p class="texte" style="left: 629px; top: 10px;">Type d’intervention:<br>
							<input type="text" id="nom" name="nom" required value="{{info_base_inter.NOM}}">
						</p>
	    				<div class="ligne" style="left: 987px; top: 10px;"></div>
							
						
	    				<p class="texte" style="left: 1000px; top: 10px;">Date & heure: <br>
							<input type="date" id="date" name="date" required value="{{info_base_inter.DATE}}">
						</p>
	    			</div>
	    			<div class="ligne2" style="left: 612px;top: 152px;"></div>
	    			<p class="texte" style="left: 40px; top: 142px; color:#5E5A5A;">Adresse de l'intervention:<br>
						<input type="text" id="adresse" name="adresse" required value="{{info_base_inter.ADRESSE}}">
                        <input type="text" id="statut" name="statut" required value="{{info_base_inter.STATUT}}" hidden>
                        <input type="text" id="urgence" name="urgence" required value="{{info_base_inter.URGENCE}}" hidden>
					</p>
	    			<p class="texte" style="left: 629px; top: 142px; color:#5E5A5A;">Détails:<br>
						<textarea id="detail" name="detail" >{{info_base_inter.DETAIL}}</textarea>
					</p>
	    		</div>
	    	</section>
            
            <div>
                <input type="submit" value="Enregistrer">
            </div>
            </form>
	    </div>
	</div>
{% endblock %}

