{% extends "base_auth.html.twig" %}
{% block title %}
<link rel="stylesheet" type="text/css" href="css/profile.css">
    <div class="overlay">
      <header>
        <!--logo-->
        <div style="width: 180px; height: 180px; position: relative; border-radius: 30px;">
          <div class="blob" style="left: 95.57px; top: 85.65px;"></div><!-- milieu-->
          <div class="blob" style="left: 95.55px; top: 122.36px;"></div><!-- en bas-->
          <div class="blob" style="left: 127.98px; top: 85.65px;"></div><!-- a droite -->
          <div class="blob" style="left: 95.57px; top: 48.45px;"></div><!-- en haut-->
          <div class="blob" style="left: 62.90px; top: 84.62px;"></div><!-- a gauche -->
          <div class="blob" style="left: 112.11px; top: 67.39px;"></div><!-- en haut, a droite-->
          <div class="blob" style="left: 78.65px; top: 66.33px;"></div><!-- en haut, a gauche-->
          <div class="blob" style="left: 112.11px; top: 104.59px;"></div><!-- en bas, a droite-->
          <div class="blob" style="left: 78.65px; top: 104.59px;"></div><!-- en bas, a gauche-->
          <h class="vertical-center" style="left: 167px">ACCORD<br>ENERGIE</h>
          <div class="vertical-center separation"></div>
          <h class="vertical-center" style="left: 350px; color: lightgrey; font-size: 48px; font-family: Jost; font-weight: 500; word-wrap: break-word">Interventions</h>
        </div>
    </header><br><br><br><br><br>
    <section class="row" style="margin: 15px;">
        <div class="col-md-2 menu">
          <a href="register.php">Ajouter membre</a>
          <a href="affectation.php">Affectation role</a>
          <a href="profile.php">Interventions</a>
          <a href="ajout.php">Ajouter intervention</a>
          <a href="deconnexion.php">Deconnexion</a>

        </div>
        <div class="col-md-10">
          <section class="row overlayInter" style="min-height: 180px;">
            <div class="legende">
              <div class="col-md-2"><p>Nom</p></div>
              <div class="col-md-3"><p>Intervenants</p></div>
              <div class="col-md-4"><p>Type d'interventions</p></div>
              <div class="col-md-2"><p>Date et Heure</p></div>
            </div>

            {% for inter in listeIntervention %}
               <a href='show.php?idi={{ inter['IDI'] }}'>
                <section class="row intervention" style="margin: 15px;">
                      <div class="col-md-2">
                        <p>{{inter['EMAIL']}}</p>
                      </div>
                      <div class="col-md-3">
                        {% for intervenant in listeIntervenants[inter['IDI']] %}
                          <p>{{ intervenant['EMAIL'] }}</p>
                        {% endfor %}
                      </div>
                      <div class="col-md-4">
                        <p>{{ inter.NOM }}</p>
                      </div>
                      <div class="col-md-2">
                        <p>{{ inter.DATE }}</p>
                      </div>
                  </section>
              </a>
              {% endfor %}

          </section>
        </div>
    </section>
  </div>
{% endblock %}


