{% extends "base_auth.html.twig" %}
{% block title %}
	<div class="overlay">
	    <header>
	        <!--logo-->
			 <a href="profile.php" style="color:white;">
	        <div style="width: 180px; height: 180px; position: relative; border-radius: 30px;">
	          <div class="blob" style="left: 95.57px; top: 85.65px;"></div><!-- milieu-->
	          <div class="blob" style="left: 95.55px; top: 122.36px;"></div><!-- en bas-->
	          <div class="blob" style="left: 127.98px; top: 85.65px;"></div><!-- a droite -->
	          <div class="blob" style="left: 95.57px; top: 48.45px;"></div><!-- en haut-->
	          <div class="blob" style="left: 62.90px; top: 84.62px;"></div><!-- a gauche -->
	          <div class="blob" style="left: 112.11px; top: 67.39px;"></div><!-- en haut, a droite-->
	          <div class="blob" style="left: 78.65px; top: 66.33px;"></div><!-- en haut, a gauche-->
	          <div class="blob" style="left: 112.11px; top: 104.59px;"></div><!-- en bas, a droite-->
	          <div class="blob" style="left: 78.65px; top: 104.59px;"></div><!-- en bas, a gauche-->
	          <h class="vertical-center" style="left: 167px">ACCORD<br>ENERGIE</h>
	          <div class="vertical-center separation"></div>
	          <h class="vertical-center" style="left: 350px; color: lightgrey; font-size: 48px; font-family: Jost; font-weight: 500;">Interventions</h>
	        </div>
			</a>
	    </header>
		<br><br><br><br>
	    <div class="overlayInter" style="margin: 20px; padding: 20px;">
	    	<section class="row" style="margin: 15px;">
	    		<div class="blockInter2">
	    			<div class="interEtiquette">
	    				<p class="texte" style="left: 40px; top: 10px;">Email:<br>
							{{info_base_inter.EMAIL}}
						</p>
	    				<div class="ligne" style="left: 290px; top: 10px;"></div>
	    				<p class="texte" style="left: 311px; top: 10px;">Intervenants:<br>
							{% for intervenant in intervenants %}
                          		{{ intervenant.EMAIL }}
								<br>
                        	{% endfor %}
						</p>
	    				<div class="ligne" style="left: 612px; top: 10px;"></div>
	    				<p class="texte" style="left: 629px; top: 10px;">Type d’intervention:<br>
							{{info_base_inter.NOM}}
						</p>
	    				<div class="ligne" style="left: 987px; top: 10px;"></div>
							
						
	    				<p class="texte" style="left: 1000px; top: 10px;">Date & heure: <br>
							{{info_base_inter.DATE}}
						</p>
	    			</div>
	    			<div class="ligne2" style="left: 612px;top: 152px;"></div>
	    			<p class="texte" style="left: 40px; top: 142px; color:#5E5A5A;">Adresse de l'intervention:<br>
						{{info_base_inter.ADRESSE}}
					</p>
	    			<p class="texte" style="left: 629px; top: 142px; color:#5E5A5A;">Détails:<br>
						{{info_base_inter.DETAIL}}
						{% if role == "Admin" or role == "Standardiste" %}
							<br><br><br>
							<a href='modifier.php?idi={{ info_base_inter.IDI }}'>Modifier</a>
							<br><br>
							<a href='supprimer.php?idi={{ info_base_inter.IDI }}'>SUPPRIMER</a>
						{% endif %}
					</p>

	    			<div class="blockTache" style="top: 600px">
	    				<p class="texte" style="left: 40px; top: 10px">Status:</p>
	    			</div>
	    		</div>
	    	</section>
	    </div>

	      

	    <div class="statusConteneur">
		{% if role == "Intervenant" or role == "Admin" %}
			<form method="POST" action='show.php?idi={{ info_base_inter.IDI }}' style="position:absolute; left:100px; top:-125px"> 
				<select name="etat" id="etat">
					<option value="Non-commencé">Non-commencé</option>
					<option value="En cours">En cours</option>
					<option value="Terminé">Terminé</option>
				</select>
				<input type="submit" value="Soumettre">
			</form>
		{% endif %}
		</div>
		<div class="statusLigne" style="left: 322px; top: 919px"></div>
		<div class="statusLigne" style="left: 529px; top: 919px;"></div>
		<div class="statusLigne" style="left: 127px; top: 919px;"></div>
		<p class="texte" style="left: 100px; top: 880px;color:#5E5A5A;">A faire</p>
		<p class="texte" style="left: 280px; top: 880px;color:#5E5A5A;">En cours</p>
		<p class="texte" style="left: 510px; top: 880px;color:#5E5A5A;">Fait</p>
			{% if info_base_inter.STATUT == 1 %}
				<div class="statusBoule"></div>
			{% endif %}
			{% if info_base_inter.STATUT == 2 %}
				<div class="statusBoule" style="left:95px; width:255px; background-color:orange"></div>
				<div class="statusBoule" style="left:287.5px"></div>
			{% endif %}
			{% if info_base_inter.STATUT == 3 %}
			<div class="statusBoule" style="left:95px; width:463px; background-color:lime"></div>
				<div class="statusBoule" style="left:495px"></div>
			{% endif %}

		
	</div>
{% endblock %}
